[submodule "go-opera-substate"]
	path = go-opera-substate
	url = https://github.com/Fantom-foundation/go-opera-substate
[submodule "go-ethereum-substate"]
	path = go-ethereum-substate
	url = https://github.com/Fantom-foundation/go-ethereum-substate
